{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-console": "off",
    "no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "__",
        "ignoreRestSiblings": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "object-shorthand": [
      "error",
      "always"
    ],
    "prefer-const": "error",
    "no-var": "error",
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "curly": "error",
    "space-before-blocks": "error",
    "keyword-spacing": "error",
    "comma-spacing": "error",
    "arrow-spacing": "error",
    "key-spacing": [
      "error",
      {
        "mode": "minimum"
      }
    ],
    "semi-spacing": "error",
    "space-in-parens": [
      "error",
      "never"
    ],
    "space-infix-ops": "error",

    "import/no-named-as-default-member": "off"
  }
}
